





.email_error::-webkit-input-placeholder {
  color: hsl(0, 100%, 74%);
}





@media screen and (max-width: 769px) {
  .main {
    height: 100%;
  }
  .container {
    grid-template-columns: auto;
    padding: 0 2rem;
    height: auto;
  }
  .container > div {
    text-align: center;
  }
  .logo {
    height: 60px;
    margin: 20px auto;
  }
  .subText {
    display: none;
  }
  .title {
    display: none;
  }
  h2 {
    font-size: 24px;
    margin: 10px 0 5px 0;
  }
  .container > div > p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 2rem 1rem;
  }
}
