.sidenav {
    display: grid;
    overflow: hidden;
    width: 100px;
    grid-template-rows: 80px auto;
    height: 100vh;
    background: #1D1D1D;
    color: #fff;
    justify-content: center;
    padding-top: 50px;
    transition: ease-in-out;
}
.sidenav span {
    display: none;
}
.sidenav:hover {
    width: 200px;
}
.sidenav:hover span {
    display: contents;
}
.sidenav:hover .logo__large {
    display: block;
}

.sidenav:hover .logo__small {
    display: none;
}

.logo__large{
    display: none;
}

.logo__small {
    width:28px;
}

.nav__list {
    display: grid;
    max-height: 450px;
    justify-content: center;
    align-items: center;
}
li {
    display: flex;
    height: 30px;
    align-items: center;
    cursor: pointer;
}
li > img {
    margin-right: 20px;
    width: 25px;
    height: auto;
}

li.active {
    font-weight: bold;
}